.expense-item{
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.expense-item_description{
    flex-grow: 4;
}

.expense-item_amount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    color: azure;
    margin: 2rem 0rem;
    background-color: #3e9c35;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
}